# Object files
*.o
*.so
*.a

# Executables 
test_suite
benchmark
test_bug
oeis_a089475
oeis_a089476

# Python artifacts
__pycache__/
*.pyc

# Temporary source files
benchmark.c
test_bug.c

# Editor backups
*~
*.swp

# #results:
*.txt
*.csv
# Scripts en backups
*.py
*.sh
*.bak

# System things
.DS_Store
Thumbs.db
